body {
    font-family: sans-serif;
    margin: 5%;
}

#Receipt {
    display: grid;
    margin: 10px;
    border: solid 5px black;
    height: 350px;
    overflow: auto;
}

.Items {
    border: solid 2px black;
    padding: 5px;
    left: 0px;
}