body {
    font-family: sans-serif;
    margin: 5%;
}

th, td {
    border: 3px solid black;
    padding: 10px
}

table {
    border-collapse: collapse;
    width: 100%;
}

#Receipt {
    display: grid;
    margin: 10px;
    border: solid 5px black;
    height: 350px;
    overflow: auto;
}

.Items {
    border: solid 2px black;
    padding: 5px;
    left: 0px;
}

#EditControl {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
    padding: 20px;
}

.Divider {
    border-left: solid 2px black;
}

.ProduktEdit {
    Display: flex;
    flex-direction: column;
}

.ProduktEdit h2 {
    text-align: center;
}