body {
    margin: 0px;
    font-family: sans-serif;
}

#Tabs {
    display: flex;
    border-collapse: collapse;
    height: 10%;
}

.Tab {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    background-color: rgba(175, 175, 175, 0);
    transition: 0.3s;
}

.Tab:hover {
    background-color: rgba(175, 175, 175, 1);
}