body {
    margin: 0px;
    font-family: sans-serif;
}

#Tabs {
    display: flex;
    border-collapse: collapse;
    height: 10%;
}

.Tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.Add {
    background-color: rgb(80, 80, 80);
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Reciept {
    border-collapse: collapse;
}

.Left {
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(120, 120, 120);
}

.Right {
    float: right;
    height: 100%;
}